@import "theme.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

body{
  background-color: #333232;
  min-height: 100%;
}
html {
  height: 100%;
}