$primary:#333232;
$secondary:#961A1A;

@import "~bootstrap";


  .routeItem {
    min-height: 100vh;
    font-weight: bold;
    color: $primary;

    &.router-link-exact-active {
      color: $secondary;
    }


  }

footer{
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $secondary;
  color:white;
  width: 100%;
  position: relative;
  margin-top: calc(100vh - 619px);
}
