$primary:#333232;
$secondary:#961A1A;

@import "~bootstrap";

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      background-color: lightgray;
      color: $secondary;
    }
  }
}